<!DOCTYPE html>
<html><head></head><body>
    <p>Here is your candle order:</p>
   <% @x.to_i.times do %>
    <img src="https://us.123rf.com/450wm/doucefleur/doucefleur1702/doucefleur170200009/75440922-candle-light-on-black-background.jpg?ver=6" ></img>
    <% end %>

    </body>
    </html>