<!DOCTYPE html>
<html><head></head><body>
<form action="/candles" method="POST">
    How many candles would you like?
    <input type="integer" name="candlevalue">
    <input type="submit" value="Send">
  </form>
</body></html>