<!DOCTYPE html>
<html><head></head><body>
<form action="/logon" method="POST">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="pwd"><br>
    <input type="submit" value="Send">
  </form>
</body></html>